/* CSS Document */
:root {
  --color1: white;
  --color2: black;
  --color3: #ffc8d3;
  --color4: #b0fcdc;
  --shadow1: rgb(83, 82, 82);
  --textcolor: black;
  --textcolor2: black;
  --textcolor3: white;
  --textcolor4: white;
  --bordercolor: white;
  --bordercolor2: black;
  color-scheme: light dark;
}

/* Lettertype en kleur gehele pagina */
html {
  font-family: Roboto, sans-serif;
}

body {
  background-color: var(--color1);
}

/* Foto's en video op de pagina */
img {
  max-width: 100%;
}

header section img:first-of-type {
  width: 3em;
  height: 3em;
  margin-left: 0.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer section:first-of-type img {
  width: 3em;
  height: 3em;
}

footer section:nth-of-type(3) img {
  width: 8em;
}

iframe {
  max-width: 100%;
}

/* Navigatie */
header {
  position: sticky;
  top: 0;
  background-color: var(--color1);
}

header section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

header nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  transform: translateX(-100vw);
  font-family: CMSansSerif, sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}

header nav.uitschuiven {
   transform: translateX(0);
   background: var(--color3);
   transition: 0.3s;
}

header nav ul li {
  padding-bottom: 0.5em;
}

header nav ul li a:hover, header nav ul li a:focus {
  color: var(--textcolor4);
}

header nav ul li:nth-of-type(7) {
  padding-top: 6em;
}

header nav a {
  text-decoration: none;
  color: var(--textcolor);
}

/* Styling tekst h1, h2, paragrafen van de body */
section > p, section > h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: var(--textcolor);
}

section:first-of-type p:nth-of-type(3){
  font-weight: normal;
}

section:first-of-type p:nth-of-type(3), section:first-of-type p:nth-of-type(4) {
  text-transform: none;
  font-size: 1em;
}

section:nth-of-type(2) article:first-of-type, section:nth-of-type(3), h1, h2, p {
  text-align: center;
}

h2, .h1 {
  font-family: CMSansSerif, sans-serif;
}

h2, p, .h1 {
  color: var(--textcolor);
}

/* Styling extra margin of padding */
section:nth-of-type(2) article:first-of-type p{
  margin-bottom: 2em;
}


section:nth-of-type(2) article:nth-of-type(2) {
  margin-top: 3em;
}

section:nth-of-type(2) article:nth-of-type(2) p {
  margin-bottom: 2.5em;
}

section:nth-of-type(3) h2 {
  margin-bottom: 1em;
}

h2 {
  padding: 0em 1em;
}

/* Achtergrond kleur sections */
body section:nth-of-type(3) {
  background-color: var(--color4);
  padding-top: 5em;
  padding-bottom: 5em;
}

footer section:first-of-type {
  background-color: var(--color2);
}

/* Linkjes naar buttons stylen en buttons */
button {
  background: url(../images/hamburgermenu.png) no-repeat;
  border: none;
  padding: 2em 1.8em;
  margin-right: 0.5em;
}

.button, .button2, .button3 {
  text-align: center;
  font-size: 1em;
  padding: 0.5em 1.3em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: bold;
  color: var(--textcolor2);
  border-style: solid;
  border-color: var(--bordercolor);
  border-radius: 2.5em;
  background: url(../images/animation.jpg) no-repeat center/cover;
  box-shadow: 1px 1px 4px var(--shadow1);
  max-height: 1.5em;
  align-self: center;
}

.button:hover, .button:focus, .button2:hover, .button2:focus, .button3:hover, .button3:focus{
  background-color: var(--color4);
  background-image: none;
}

.button2:hover, .button2:focus {
  background-color: var(--color3);
}

.buttondark-mode {
  background: var(--color2);
  color: var(--textcolor3);
  padding: 1em;
  border-radius: 30px;
}

section:nth-of-type(2) article:nth-of-type(2) ul li {
  font-size: 1.5em;
  padding: 0.5em 0.15em;
  font-family: Roboto;
  font-weight: bold;
  background: url(../images/animation.jpg) no-repeat;
  background-size: 100%;
  margin: 0.6em;
  height: 2.5em;
}

section:nth-of-type(2) article:nth-of-type(2) ul li:hover {
  text-indent: 15px;
}

section:nth-of-type(2) article:nth-of-type(2) ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--textcolor2);
}

body section:nth-of-type(2) article:nth-of-type(2) ul li img {
  width: 2em;
  height: 2em;
  float: right;
}

/* Footer stylen */
footer section:first-of-type {
  padding: 2em 1em 2em 1em;
}

footer section:first-of-type ul {
  display: flex;
  justify-content: space-evenly;
}

footer section:first-of-type h2 {
  color: var(--textcolor3);
}

footer section:nth-of-type(2) {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1em;
}

footer section:nth-of-type(2) ul {
  line-height: 35px;
  color: var(--textcolor);
}

footer section:nth-of-type(2) ul:last-of-type {
  justify-content: flex-end;
  max-width: 50%;
  margin-left: 10em;
  /* margin-left: 16em; */
}

footer section:nth-of-type(3) {
  background-color: var(--color1);
  display: flex;
  font-weight: bold;
  padding: 2.5em 0em;
  color: var(--textcolor);
}

footer section:nth-of-type(3) ul:first-of-type {
  text-align: left;
  margin-left: 1em;
  line-height: 30px;
}

footer section:nth-of-type(3) ul:last-of-type li:hover {
  color: var(--color3);
}

footer section:nth-of-type(3) ul:first-of-type li:nth-of-type(3) {
  margin-top: 2em;
}

footer section:nth-of-type(3) ul:last-of-type {
  justify-content: flex-end;
  margin-left: 6em;
  /* margin-left: 14em; */
  text-align: end;
  text-decoration: underline;
  line-height: 35px;
}

/* Formulier stylen */
form {
  display: flex;
  justify-content: center;
  margin: 2em;
}

input {
  padding: 1em;
  border-radius: 4px;
  border: none;
}

input:nth-of-type(2) {
  text-transform: uppercase;
  background-color: var(--color3);
  font-weight: bold;
}

input:nth-of-type(2):hover, input:nth-of-type(2):focus {
  background-color: var(--color4);
}

/* Animaties */
@keyframes logoDraaien {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg) scale(1.5);
  }
}

@keyframes logoDraaien2 {
  0% {
     transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(180deg);
  }
}

@keyframes socialsVergroten {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.5);
  }
}

header section div:hover {
  animation-name: logoDraaien;
  animation-duration: 1s;
}

body section:nth-of-type(2) article:nth-of-type(2) ul li img:hover {
  animation-name: logoDraaien2;
  animation-duration: 1s;
}

footer section:first-of-type ul li img:hover {
  animation-name: socialsVergroten;
  animation-duration: 5s;
}

/* Code voor de Experience pagina */
body section:nth-of-type(2) article {
    align-self: center;
}

body section:nth-of-type(2) article:nth-of-type(4) p, body section:nth-of-type(2) article:nth-of-type(5) p, body section:nth-of-type(2) article:nth-of-type(6) p, body section:nth-of-type(2) article:nth-of-type(7) p, .p2 {
  margin: 1em 0em 2.5em;
}

.section {
  margin-top: 2.5em;
}

.img, .img2 {
  box-shadow: 1px 1px 4px var(--shadow1);
  border: 0.3em;
  border-style: solid;
  border-color: var(--bordercolor);
  max-width: 90%;
  margin: 2em 1em 0em;
}

.img2 {
  margin-top: 0em;
}

.h1 {
   font-size: 1.9em;
   background: url(../images/rozeblauw.png)no-repeat center/cover;
   padding: 2em;
   margin: 0em;
  }

.h1, .h2, .p{
  text-align: left;
  text-transform: none;
}

.h2 {
  font-size: 1.3em;
}

.p {
  font-weight: normal;
  font-size: 1em;
  margin: 1.2em;
}

.button3 {
  margin: 7em;
}

/* Code voor de dark mode */
.dark-mode {
  --color1: #38444c;
  --color2: #38444c;
  --color3: #ff4d70;
  --color4: #84bba4;
  --textcolor: white;
  --textcolor2: black;
  --textcolor3: white;
  --textcolor4: black;
}

body header section div {
  width: 50px;
  height: 50px;
  background: url(../images/logo.png) no-repeat center/cover;
}

.dark-mode body header section div {
  background: url(../images/logo-dark.png) no-repeat center/cover;
}

.dark-mode body header section button {
  background: url(../images/hamburgermenu-dark.png) !important;
}

.dark-mode .h1 {
  background: url(../images/rozeblauw-dark.png) no-repeat center/cover;
}